<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 boxs  mt-5">
            <div class="card-header">Registered Address</div>
                <div class="card-body">
                    <div class="mt-2">
                    <div>Name</div>
                    <input type="text" class="form-control" />
                    </div>
                    <div class="mt-2">
                        <div>Mobile</div>
                        <input type="text" class="form-control" />
                        </div>
                        <div class="mt-2">
                            <div>Comments</div>
                            <textarea  class="form-control" ></textarea>
                            </div>
                </div> 
                <div class="card-footer"><button mat-raised-button color="primary"  class="w-100 btn" >
                   
                   Submit
                  </button></div>
        </div>
        
    <div class="col-md-3 boxs  mt-5">
        <div class="card-header">Customer Support</div>
            <div class="card-body">
                <div class="mt-2"> 
                <div>Name</div>
                <input type="text" class="form-control" />
                </div>
                <div class="mt-2">
                    <div>Mobile</div>
                    <input type="text" class="form-control" />
                    </div>
                    <div class="mt-2">
                        <div>Comments</div>
                        <textarea  class="form-control" ></textarea>
                        </div>
            </div> 
            <div class="card-footer"><button mat-raised-button color="primary"  class="w-100 btn" >
                Submit
               </button></div>
    </div>
    
        <div class="col-md-3 boxs  mt-5">
            <div class="card-header">Write To Us</div>
                <div class="card-body">
                    <div class="mt-2">
                    <div>Name</div>
                    <input type="text" class="form-control" />
                    </div>
                    <div class="mt-2">
                        <div>Mobile</div>
                        <input type="text" class="form-control" />
                        </div>
                        <div class="mt-2">
                            <div>Comments</div>
                            <textarea  class="form-control" ></textarea>
                            </div>
                </div> 
                <div class="card-footer">
                    <button mat-raised-button color="primary" class="w-100 btn" >
                   
                    Submit
                   </button></div>
        </div>
   
</div>
</div>
