/* example.component.css */

  .boxs{
    -webkit-box-shadow: -6px 2px 29px -9px rgba(28,18,28,1);
    -moz-box-shadow: -6px 2px 29px -9px rgba(28,18,28,1);
    box-shadow: -6px 2px 29px -9px rgba(28,18,28,1);
    margin: 20px 20px 20px;
  }
  .container-fluid{
    padding-left: 170px;
  }
  .card-footer{
    width: 50%;
    margin: 30px 80px;
    border-radius: 20px;
  }
  .card-header{
    margin: 30px;
    font-size: 20px;
    color:rgb(45, 45, 123)
  }
  .btn{
    border-radius: 20px;
  }