<mat-toolbar class="shadow" *ngIf="api.loginstatus" >
 
  <img src="assets/logo1.png" alt="My Image" width="100" >
  <span>Devquad softwaress</span>
  <span class="example-spacer"></span>
 
  <span  style="font-size: 15px;padding-right: 5px;margin-right: 10px;">Home</span>
    <select class="form-control" style="width: 140px;margin-right:10px;box-shadow: none;">
      <option>English</option>
      <option>Mexico</option>
      <option>Spanish</option>
      <option>Arabic</option>
    </select>

      <span style="font-size:15px"><spna [routerLink]="'login'">Login</spna>/sign up</span>
      <mat-icon [routerLink]="'aboutme'">account_circle</mat-icon>
    
</mat-toolbar>
<router-outlet></router-outlet>

<mat-toolbar class="shadow footer" *ngIf="api.loginstatus">
 
  <span style="font-size: 12px;">Copyright © 2018.All Rights Reserved </span>
  <span class="example-spacer"></span>
  <img src="assets/logo1.png" alt="My Image" width="60" > Powered by Devquad software
</mat-toolbar>
